# Add any directories, files, or patterns you don't want to be tracked by version control
*.class
# Package Files #
*.war
*.ear
*.springBeans
*.project
jalo/
gensrc/
bin/
**/gensrc/*
**/classes/*
**/items.xsd
**/beans.xsd
**/extensioninfo.xsd
**/platformhome.properties
**/*-testclasses.xml
**/*-webtestclasses.xml
**/build.xml
**/web/addonsrc/*
**/web/commonwebsrc/*
**/web/webroot/**/addons/*
**/web/testclasses/*
/custom/demo/demostorefront/resources/wro_addons.xml
/custom/demo/demostorefront/web/webroot/_ui/responsive/theme-demo/node_modules
/custom/demo/demostorefront/web/webroot/_ui/responsive/theme-demo/.sass-cache
/custom/.metadata
*backoffice_bof.jar
Generated*
**/node_modules
